<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <title>Account Information</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/customContentWrapper.css}"/>
    <link rel="stylesheet" th:href="@{/css/customBody.css}"/>
</head>
<body>


<div th:if="${memberType.equals('Adult') || memberType.equalsIgnoreCase('Non-Adult')}">
    <div th:replace="~{fragments/navbar-for-logged-in-users}"></div>
</div>
<div th:if="${memberType.equals('Committee')}">
    <div th:replace="~{fragments/nav-bar-for-logged-in-committee}"></div>
</div>
<div th:if="${memberType.equals('Director')}">
    <div th:replace="~{fragments/navbar-for-logged-in-director}"></div>
</div>


<div class="content-wrapper">
    <div id="viewDetails">
        <h1>Account Information</h1>

        <div th:if="${hasBeenRequested==true}" class="alert alert-success mt-3">Your request to change your credentials has been successfully been sent to the director</div>

        <div th:if="${success != null && success==true}" class="alert alert-success mt-3">Successfully has been updated</div>
        <div th:if="${success != null && success==false}" class="alert alert-danger mt-3">Partially has been updated</div>
        <div th:if="${errors != null}">
            <div th:each="error : ${errors}" class="alert alert-danger mt-3" th:text="${error}"></div>
        </div>


        <p><strong>Email:</strong> <span th:text="${member.email}"></span></p>
        <p><strong>First Name:</strong> <span th:text="${member.firstName}"></span></p>
        <p><strong>Last Name:</strong> <span th:text="${member.lastName}"></span></p>
        <p><strong>Phone:</strong> <span th:text="${member.phone}"></span></p>

        <!-- if hasBeenAccepted is true then button should be clicked to proceed and above it should show wha't-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
            Request Account Information Change
        </button>
    </div>

    <!-- Creates a pop-up that allows you to submit an edit request -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Account Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:if="${isAuthorised}" th:action="@{/account/request-update}" method="post">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" th:value="${member.email}" /><br>

                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" th:value="${member.firstName}" /><br>

                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" th:value="${member.lastName}" /><br>

                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="phone" th:value="${member.phone}" /><br>

                        <button type="submit" class="btn btn-success">Request Changes</button>
                    </form>

                    <form th:if="${isAuthorised == null || !isAuthorised}" th:action="@{/account/request-update}" method="post">

                        <p><strong>Email:</strong> <span th:text="${member.email}"></span></p>
                        <p><strong>First Name:</strong> <span th:text="${member.firstName}"></span></p>
                        <p><strong>Last Name:</strong> <span th:text="${member.lastName}"></span></p>
                        <p><strong>Phone:</strong> <span th:text="${member.phone}"></span></p>

                        <button type="submit" class="btn btn-success">Authorise yourself before requesting changes</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>