<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
        />
        <title>Sludgate Brass Band</title>
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/customContentWrapper.css}"/>
        <link rel="stylesheet" th:href="@{/css/customBody.css}"/>
    </head>
    <body>

    <div th:unless="${memberType.equals('Director')}">
        <div th:replace="~{fragments/navbar-for-logged-in-users}"></div>
    </div>
    <div th:if="${memberType.equals('Director')}">
        <div th:replace="~{fragments/navbar-for-logged-in-director}"></div>
    </div>


    <div class="content-wrapper">
            <h2>Dashboard</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="true">Performance Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="loans-tab" data-toggle="tab" href="#loans" role="tab" aria-controls="loans" aria-selected="false">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="music-tab" data-toggle="tab" href="#music" role="tab" aria-controls="music" aria-selected="false">Music</a>
                </li>
                <li class="nav-item" th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}">
                    <a class="nav-link" id="instrument-tab" data-toggle="tab" href="#instrument" role="tab" aria-controls="instrument" aria-selected="false">Instrument</a>
                </li>
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                    <h3>Performance Schedule</h3>
                    <p>Details of upcoming performances...</p>
                </div>

                <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">
                    <h3>Loans</h3>
                    <p>Details of loans...</p>
                </div>

                <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="music-tab">
                    <h3><span th:unless="${memberType.equals('Committee')} or ${memberType.equals('Director')}">Your </span>Music</h3>

                    <!-- Music table - If you are a normal user will display music in their band, allow them to create an order for
                    music they should but do not have -->
                    <!-- For committee display all music, option to put into practice for one or both bands, or return it back to storage -->
                    <!-- Outstanding orders button shows music members have requested -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Composer</th>
                                <th>Arranger</th>
                                <th th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}">
                                    Band practicing</th>
                                <th th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}">
                                    Suitable for training band?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="music: ${musics}">
                                <td th:text="${music.item.nameTypeOrTitle}"></td>
                                <td th:text="${music.item.makeOrComposer}"></td>
                                <td th:text="${music.arranger}"></td>
                                <td th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}"
                                    th:text="${music.bandInPractice.toString()}"></td>
                                <td th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}"
                                    th:text="${music.item.note == 'true' ? 'True' : 'False'}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Button to add music -->
                    <span th:if="${memberType.equals('Committee')} or ${memberType.equals('Director')}">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addMusic">
                            Add Music</button>
                    </span>

                    <!-- Button to request music if you are a normal member -->
                    <span th:if="${memberType.equals('Adult')} or ${memberType.equals('Non_Adult')}">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#orderMusic">
                            Order Music
                        </button>
                    </span>
                </div>

                <div class="tab-pane fade" id="instrument" role="tabpanel" aria-labelledby="instrument-tab">
                    <!-- Insert Instruments table -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Instrument</th>
                            <th>Make</th>
                            <th>Serial Number</th>
                            <th>In Storage</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="instrument: ${instruments}">
                            <td th:text="${instrument.item.nameTypeOrTitle}"></td>
                            <td th:text="${instrument.item.makeOrComposer}"></td>
                            <td th:text="${instrument.serialNumber}"></td>
                            <td>
                                <span th:if="${instrument.item?.inStorage}" class="badge badge-success">Yes</span>
                                <span th:if="${!instrument.item?.inStorage}" class="badge badge-danger">No</span>
                            </td>
                            <td th:text="${instrument.item.note}"></td>
                            <td>
                                <button class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#editInstrumentModal"
                                        th:attr="data-id=${instrument.id}"
                                        onclick="populateEditForm(this)"> Edit </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Button to add instruments to inventory -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addInstrument">
                        Add Instrument</button>

                    <!-- Type modal with form to add instrument-->
                    <div class="modal fade" id="addInstrument" tabindex="-1" role="dialog"
                         aria-labelledby="addInstrument" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addInstrumentLabel">Add Instrument</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/addInstrument}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group" >
                                            <label for="instrumentInput">Instrument:</label>
                                            <input type="text" class="form-control" id="instrumentInput" name="instrumentInput" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="make">Make:</label>
                                            <input type="text" class="form-control" id="make" name="make" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="serialNumber">Serial Number:</label>
                                            <input type="text" class="form-control" id="serialNumber" name="serialNumber" required>
                                        </div>
                                        <div class="form-group">
                                            <label>In Storage?</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="inStorageYes" value="true" checked>
                                                <label class="form-check-label" for="inStorageYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="inStorageNo" value="false">
                                                <label class="form-check-label" for="inStorageNo">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="note">Note:</label>
                                            <input type="text" class="form-control" id="note" name="note">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Type modal to edit or delete instrument -->
                    <div class="modal fade" id="editInstrumentModal" tabindex="-1" role="dialog" aria-labelledby="editInstrumentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editInstrumentModalLabel">Edit Instrument</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/editInstrument}" method="post">
                                    <div class="modal-body">
                                        <input type="hidden" id="editInstrumentId" name="instrumentId"/>
                                        <div class="form-group">
                                            <label for="editInstrumentInput">Instrument:</label>
                                            <input type="text" class="form-control" id="editInstrumentInput" name="instrumentInput" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editMake">Make:</label>
                                            <input type="text" class="form-control" id="editMake" name="make" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editSerialNumber">Serial Number:</label>
                                            <input type="text" class="form-control" id="editSerialNumber" name="serialNumber" required>
                                        </div>
                                        <div class="form-group">
                                            <label>In Storage?</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="editInStorageYes" value="true">
                                                <label class="form-check-label" for="editInStorageYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="editInStorageNo" value="false">
                                                <label class="form-check-label" for="editInStorageNo">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="editNote">Note:</label>
                                            <input type="text" class="form-control" id="editNote" name="note">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                                <!-- Button to delete an Instrument -->
                                <form id="deleteForm" th:action="@{/deleteInstrument}" method="post" style="display: inline;">
                                    <input type="hidden" name="instrumentId" id="deleteInstrumentId" />
                                    <button type="button" class="btn btn-danger" id="deleteButton" onclick="confirmDelete()">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Type modal with form to add music-->
        <div class="modal fade" id="addMusic" tabindex="-1" role="dialog"
             aria-labelledby="addMusic" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMusicLabel">Add Music</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/addMusic}" method="post">
                        <div class="modal-body">
                            <div class="form-group" >
                                <label for="musicInput">Name:</label>
                                <input type="text" class="form-control" id="musicInput" name="musicInput" required >
                            </div>
                            <div class="form-group">
                                <label for="composer">Composer:</label>
                                <input type="text" class="form-control" id="composer" name="composer" required >
                            </div>
                            <div class="form-group">
                                <label for="arranger">Arranger:</label>
                                <input type="text" class="form-control" id="arranger" name="arranger">
                            </div>
                            <div class="form-group">
                                <label for="bandInPractice">Band practicing:</label>
                                <select id="bandInPractice" name="bandInPractice" required>
                                    <option th:each="band : ${T(uk.ac.sheffield.team28.team28.model.BandInPractice).values()}"
                                            th:value="${band}"
                                            th:text="${band.toString() != null ? band.toString() : band.toString()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Is this suitable for the Training Band?</label>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="suitableForTraining" id="suitableForTrainingYes" value="true" checked>
                                    <label class="form-check-label" for="inStorageYes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="suitableForTraining" id="suitableForTrainingNo" value="false">
                                    <label class="form-check-label" for="inStorageNo">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Type modal with form to order music-->
        <div class="modal fade" id="orderMusic" tabindex="-1" role="dialog"
             aria-labelledby="addMusic" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderMusicLabel">Order Music</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/orderMusic}" method="post">
                        <!-- Insert dropdown with all music -->
                        <div class="form-group">
                            <label for="selectMusic">Select music piece:</label>
                            <select id="selectMusic" name="itemId" required>
                                <option th:each="music : ${musics}"
                                        th:value="${music.item.id}"
                                        th:text="${music.arranger != null && !music.arranger.isEmpty()
                                                    ? music.item.nameTypeOrTitle + ' - ' + music.item.makeOrComposer + ' - ' + music.arranger
                                                    : music.item.nameTypeOrTitle + ' - ' + music.item.makeOrComposer}"></option>
                            </select>
                        </div>
                        <!-- Add note section so user can add a note to their order -->
                        <div class="form-group">
                            <label for="noteSelectMusic">Add note:</label>
                            <input type="text" name="note" id="noteSelectMusic">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        </div>
        <!-- Buttons for Add Child, Child View, and Committee View -->
        <div class="floating-buttons">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addChildModal">Add Child</button>
            <button class="btn btn-secondary" onclick="window.location.href='/childView';">Child View</button>
            <button class="btn btn-info" onclick="window.location.href='/committeeView';">Committee View</button>
        </div>

        <!-- Add Child Modal -->
        <div class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="addChildModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addChildModalLabel">Add Child</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/addChild}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" required>
                            </div>
                            <div class="form-group">
                                <label for="parentId">Parent ID:</label>
                                <input type="number" class="form-control" id="parentId" name="parentId" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div th:replace="~{fragments/footer :: footer}"></div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script th:src="@{js/editInstrument.js}"></script>
            <script th:src="@{js/confirmDelete.js}"></script>
        </footer>


    </body>
</html>
