<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
        />
        <title>Sludgate Brass Band</title>
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/customContentWrapper.css}"/>
        <link rel="stylesheet" th:href="@{/css/customBody.css}"/>
    </head>
    <body>

    <div th:if="${memberType.equals('Adult') || memberType.equalsIgnoreCase('Non-Adult')}">
        <div th:replace="~{fragments/navbar-for-logged-in-users}"></div>
    </div>
    <div th:if="${memberType.equals('Committee')}">
        <div th:replace="~{fragments/nav-bar-for-logged-in-committee}"></div>
    </div>
    <div th:if="${memberType.equals('Director')}">
        <div th:replace="~{fragments/navbar-for-logged-in-director}"></div>
    </div>


    <div class="content-wrapper">
            <h2>Dashboard</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="true">Performance Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="loans-tab" data-toggle="tab" href="#loans" role="tab" aria-controls="loans" aria-selected="false">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="music-tab" data-toggle="tab" href="#music" role="tab" aria-controls="music" aria-selected="false">Music</a>
                </li>
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                    <h3>Performance Schedule</h3>
                    <p>Details of upcoming performances...</p>
                </div>

                <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">
                    <h3>Loans</h3>
                    <p>Details of loans...</p>
                </div>

                <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="music-tab">
                    <h3>Music</h3>
                    <p>Details of available music pieces...</p>
                </div>
            </div>

        </div>
        <!-- Buttons for Add Child, Child View, and Committee View -->
        <div class="floating-buttons">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addChildModal">Add Child</button>
            <button class="btn btn-secondary" onclick="window.location.href='/childView';">Child View</button>
            <button class="btn btn-info" onclick="window.location.href='/committeeView';">Committee View</button>
        </div>

        <!-- Add Child Modal -->
        <div class="modal fade" id="addChildModal" tabindex="-1" role="dialog" aria-labelledby="addChildModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addChildModalLabel">Add Child</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/addChild}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div th:replace="~{fragments/footer :: footer}"></div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script th:src="@{js/editInstrument.js}"></script>
            <script th:src="@{js/confirmDelete.js}"></script>
        </footer>


    </body>
</html>
