<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
        />
        <title>Sludgate Brass Band</title>
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
            }

            .content-wrapper {
                padding-top: 60px;
                flex: 1;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

        </style>
    </head>
    <body>

    <div th:replace="~{fragments/navbarforloggedinusers}"></div>

        <div class="content-wrapper">
            <h2>Dashboard</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="true">Performance Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="loans-tab" data-toggle="tab" href="#loans" role="tab" aria-controls="loans" aria-selected="false">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="music-tab" data-toggle="tab" href="#music" role="tab" aria-controls="music" aria-selected="false">Music</a>
                </li>
                <li class="nav-item" th:if="${memberType.equals('Committee')}">
                    <a class="nav-link" id="instrument-tab" data-toggle="tab" href="#instrument" role="tab" aria-controls="instrument" aria-selected="false">Instrument</a>
            </ul>

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                    <h3>Performance Schedule</h3>
                    <p>Details of upcoming performances...</p>
                </div>

                <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">
                    <h3>Loans</h3>
                    <p>Details of loans...</p>
                </div>

                <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="music-tab">
                    <h3>Music</h3>
                    <p>Details of available music pieces...</p>
                </div>

                <div class="tab-pane fade" id="instrument" role="tabpanel" aria-labelledby="instrument-tab">
                    <!-- Insert Instruments table -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Instrument</th>
                            <th>Make</th>
                            <th>Serial Number</th>
                            <th>In Storage</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="instrument: ${instruments}">
                            <td th:text="${instrument.item.nameTypeOrTitle}"></td>
                            <td th:text="${instrument.item.makeOrComposer}"></td>
                            <td th:text="${instrument.serialNumber}"></td>
                            <td>
                                <span th:if="${instrument.item?.inStorage}" class="badge badge-success">Yes</span>
                                <span th:if="${!instrument.item?.inStorage}" class="badge badge-danger">No</span>
                            </td>
                            <td th:text="${instrument.item.note}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Button to add instruments to inventory -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addInstrument">
                        Add Instrument</button>

                    <!-- Type modal with form -->
                    <div class="modal fade" id="addInstrument" tabindex="-1" role="dialog"
                         aria-labelledby="addInstrument" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addInstrumentLabel">Add Instrument</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/addInstrument}" method="post">
                                    <div class="modal-body">
                                        <div class="form-group" >
                                            <label for="instrumentInput">Instrument:</label>
                                            <input type="text" class="form-control" id="instrumentInput" name="instrumentInput" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="make">Make:</label>
                                            <input type="text" class="form-control" id="make" name="make" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="serialNumber">Serial Number:</label>
                                            <input type="text" class="form-control" id="serialNumber" name="serialNumber" required>
                                        </div>
                                        <div class="form-group">
                                            <label>In Storage?</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="inStorageYes" value="true" checked>
                                                <label class="form-check-label" for="inStorageYes">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inStorage" id="inStorageNo" value="false">
                                                <label class="form-check-label" for="inStorageNo">No</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="note">Note:</label>
                                            <input type="text" class="form-control" id="note" name="note">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
