<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/h2AndNavStyle.css}"/>
</head>
<body>

<div th:replace="~{fragments/navbar-for-logged-in-users}"> </div>

<!-- Page title -->
    <div>
        <div><h2>Director</h2></div>

        <div class="container mt-4">
            <h2>Member Details</h2>
            <p><strong>First Name:</strong> <span th:text="${member.firstName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${member.lastName}"></span></p>
            <p><strong>Email:</strong> <span th:text="${member.email}"></span></p>
            <p><strong>Phone:</strong> <span th:text="${member.phone}"></span></p>
            <p><strong>Band:</strong> <span th:text="${member.band}"></span></p>
        </div>

        <div>
            <form th:action="@{/director/removeFromBand/{memberId}/{oldBand}(memberId=${member.id}, oldBand='Senior')}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">
                    <!--                    th:if="${member.band == 'Training' or member.band == 'Both'}">-->
                    Remove from Senior Band
                </button>
            </form>
        </div>

    </div>



    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
